In [1]:
import numpy as np
import pandas as pd
from ranktools import get_ranks_inplace

In [2]:
# Take a list/array of elements and return a list containing the ranking of each element in its own 'place'
exampleList = np.array((2, 5, 1, 8, 9))

list_wRanks = get_ranks_inplace(exampleList)
list_wRanks

[3, 2, 4, 1, 0]

In [3]:
# Ranking elements per column in a dataframe
example_df = pd.DataFrame(data=np.random.rand(3,3))
example_df

          0         1         2
0  0.544562  0.554902  0.208006
1  0.927039  0.777310  0.205284
2  0.998403  0.027470  0.794935

In [4]:
example_df_wRanks = example_df.apply(get_ranks_inplace)
example_df_wRanks

   0  1  2
0  2  1  1
1  1  0  2
2  0  2  0